*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

.wrapper{
margin: 0 auto;
width: 90%;
max-width: 1300px;
}

header{
  
  padding: 20px;
  border-bottom: 1px solid rgba(228, 217, 217, 0.534);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-container h1{
  color:#3a312c ;
 
}

.header-logo{
  width: 20%;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul li {
  list-style: none;
  padding: 5px 20px;
}

nav ul li a {
color:#3a312c ;
text-decoration: none;
font-size: 18px;
font-weight: bold;
}



nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.material-symbols-outlined {
 font-size: 30px;
 cursor: pointer;

}

.container-contador {
  max-width: 230px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 4px;
  margin: 0 auto;
  text-align: center;
  border-radius: 5px;
  border: 1px solid grey;
}

.container-contador button {
  background-color: white;
  border: none;
  color: rgba(158, 157, 157, 0.664);
  font-size: 22px;
  font-weight: bold;
}

.button-onAdd {
text-align: center;


}

.button-onAdd button {
 background-color:white;
border-radius: 5px;
border:#9e9c9cd7 1px solid;
padding: 4px 15px;
margin-top: 10px;
color: #9b9999a2;
font-weight: bold;
cursor: pointer;


}

.productos-container {
  margin-top: 60px;
  display: grid;
  grid-template-columns: minmax(0,33.3fr)  minmax(0,33.3fr)  minmax(0,33.3fr);
  gap: 40px;
  
}

.products-image {
  width: 70%;
  margin: 5px;
}

.productos-detalle-container {
  text-align: center;
  border: #b8b5b55b 1px solid;
  padding: 10px;
  border-radius: 5px;
}

.product-name{
  font-size: 16px;
  font-weight: bold  ;
}

 .productos h1, .contacto h1{
  text-align: center;
  margin:15px 0 ;
}

.cliploader {
  text-align: center;

}

.home-seccion {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

.home-seccion img {
 width: 40%;
 text-align: center;

}

.home-container p {
  font-size: 50px;
  text-align: center;
  padding-top: 50px;
}

.detail {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
  border: 1px solid grey;
}

.name-detail {
  font-size: 30px;
  font-weight: bold;
  margin: 15px 0;
 
}

.container-description {
  text-align: center;
}

.container-description p {
  margin: 10px;
  font-size: 20px;
}

.pagos-img {
  width: 60%;
  margin-top: 10px;
}