*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper{
margin: 0 auto;
width: 90%;
max-width: 1300px;
}

header{
  background-color:#e6c019 ;
  padding: 20px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-container h1{
  color:#3a312c ;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header-logo{
  width: 20%;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul li {
  list-style: none;
  padding: 5px 20px;
}

nav ul li a {
color:#3a312c ;
text-decoration: none;
font-size: 18px;
font-weight: bold;
}

.greeting-container {
  background-color: #3a312c;
  padding: 15px;
 
}

.greeting-container h1 {
  color: #e6c019;
  text-align: center;
  margin-bottom: 10px;
}


nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.material-symbols-outlined {
 font-size: 30px;
 cursor: pointer;

}

.container-contador {
  max-width: 230px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 4px;
  margin: 0 auto;
  text-align: center;
  border-radius: 5px;
  border: 1px solid grey;
}

.container-contador button {
  background-color: white;
  border: none;
  color: rgb(0, 174, 255);
  font-size: 22px;
  font-weight: bold;
}

.button-onAdd {
text-align: center;


}

.button-onAdd button {
 background-color:#3a312c;
border-radius: 5px;
border:#e6c019 1px solid;
padding: 4px 15px;
margin-top: 10px;
color: #e6c019;
font-weight: bold;
cursor: pointer;


}