*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper{
margin: 0 auto;
width: 90%;
max-width: 1300px;
}

header{
  background-color:#e6c019 ;
  padding: 20px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-container h1{
  color:#3a312c ;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header-logo{
  width: 20%;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul li {
  list-style: none;
  padding: 5px 20px;
}

nav ul li a {
color:#3a312c ;
text-decoration: none;
font-size: 18px;
font-weight: bold;
}

.greeting-container {
  background-color: #3a312c;
  padding: 15px;
}

.greeting-container h1 {
  color: #e6c019;
  text-align: center;
}